# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
build/ExampleSolution/ExampleSolution.sdf
build/ExampleSolution/ipch/
temp/ExampleSolution/ExampleProject/DEBUG/
temp/ExampleSolution/ExampleProject2/DEBUG/
