# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
build/ExampleSolution/ipch/
temp/ExampleSolution/ExampleProject/DEBUG/
temp/ExampleSolution/ExampleProject2/DEBUG/
build/Engine/ipch/
*.sdf
temp/GameRelease/DEBUG/
temp/GameDebug/DEBUG/
temp/EngineRelease/DEBUG/
temp/EngineDebug/DEBUG/
*.pdb
*.suo
build/ipch/
*tlog
build/Server/Debug/
*.ilk
*.suo
bin/Server/Server.exe
*.exe
*.orig

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.bak
*.cache
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
source/Engine/Obsolete/
lib/EngineDebug/engine.lib
